{% extends  'base.html.twig' %}


{% block body %}

    <div class="container" >
    <div class="row justify-content-center" style="margin-left:25%;margin-right: 25%">
        {% if app.user %}
        <h1> {{ app.user.FirstName }}</h1>
        <h1> {{ app.user.LastName }}</h1>
    <img src="{{ app.user.Avatar }}">
    {% endif %}
    </div>
    </div>


{% endblock %}