{% extends 'back.html.twig' %}

{% block title %}New Activity{% endblock %}

{% block content %}
    <h1>Create new Activity</h1>

    {{ include('activity/_form.html.twig') }}

    <a href="{{ path('activity_index') }}" class="btn btn-light">back to list</a>
{% endblock %}
