{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}New Gerant{% endblock %}

{% block body %}
    <h1>Create new Gerant</h1>

    {{ include('gerant/_form.html.twig') }}

    <a href="{{ path('gerant_index') }}" class="btn btn-light">back to list</a>
{% endblock %}
