{% extends 'base.html.twig' %}

{% block title %}New Gerant{% endblock %}

{% block content %}
    <h1>Create new Gerant</h1>

    {{ include('gerant/_form.html.twig') }}

    <a href="{{ path('gerant_index') }}">back to list</a>
{% endblock %}
